@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800');

:root{
    --salmon:#EF9D71;
    --black:#000;
    --white:#fff;
    --cyan:#AEDEE0;
    --dsalmon:rgb(87, 10, 1);
    --dcyan:#000000;
    --black: #000;
    --white: #fff;
    --bg-color: #c8d6e5;

    --font-family-1: 'Poppins', sans-serif;

    --white-color: #fff;
  --black-color: hsl(210, 12%, 15%);
  --body-color: hsl(210, 16%, 12%);
  --container-color: hsl(210, 24%, 8%);
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

*::selection{
    background-color: var(--salmon);
}

body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}

body[theme="cyan"]{
    background-color: var(--cyan);
}
body[theme="cyan"] .section{
   color: var(--dcyan);
}

body[theme="salmon"]{
    background-color: var(--salmon);
}

body[theme="salmon"] .section{
    color: var(--dsalmon);
}

body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}

html,body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: url(https://github.com/antiden/macOS-cursors-for-Windows/raw/main/2.%20El%20Capitan%20and%20before/1.%20No%20Shadow/1.%20Normal/Normal.cur),default;
}
.main{
    width: 100%;
    overflow: hidden;
}
.home section{
    height: screen;
    display: relative;
}
.vdodiv {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index:99;
    top: 0;
    left: 0;
    clip-path:circle(var(--clip) at 50% 50%);
}
.video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.marqueescontainer{
    width: 100%;
    height:screen;
    /* display:relative; */
    overflow:hidden;
    z-index: 5;
}

.heading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    text-align: center;
    z-index: 5;
}
.heading h1{
    font: 700 1.8vw 'Time', sans-serif;
    
}
.warren img {
    width: 25vw;
    height: 40vw;
    position: relative;
    display: flex;
    margin: 2%;
    object-fit: cover;
    z-index: 5;
    border-radius: 20%;
}
.warren img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.warren{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}
.warren p{
    font: 400 1.3vw 'Times', sans-serif;
   margin: 5%;
   padding-top: 5%;
   z-index: 5;
}
.imp{
    font: 700 1.3vw 'Times', sans-serif;
}

.craft {
    display: flex;
    gap: 10px; 
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-bottom: 8vw;
    margin-top: 2vw;
    flex-grow: 0;
    align-items: flex-start;
    z-index: 5;
  }
  
  .ltext {
    width: 45%;
    padding: 10px;
    position: sticky;
    top:0;
    left:0;
    z-index: 5;
    flex-grow: 0;
    align-items: flex-start;
    /* background-color: rgb(191, 253, 191); */
  }
  
  .ltext p {
    font-size: 1.2rem; 
    font-weight: lighter;
    line-height: 1.7rem; 
    
  }
  
  .heading1 {
    font-size: 3rem;
    line-height: 4rem; 
    margin-top: 20px;
    font-family: sans-serif;
    z-index: 5;
  }
  
  .button {
    display: inline-flex;
    padding: 8px 16px; 
    border: 1px solid #227bff; 
  }
  
  .button span {
    display: inline-block;
  }
  
.cards{
    width:50%;
    z-index: 5;
    /* background-color: rgb(244, 200, 200);  */
    font-size: 3vw;
} 

.btmtext{
    font-size: 1.5vw;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    text-align: right;
    z-index:1;
}

/* ---Navbar------------ */
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  color: var(--royal-blue); 
  padding: 1rem 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0); 
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.navbar .container {
  display: flex;
  justify-content: flex-end; 
  padding: 0 2rem; 
}

.navbar .company-name {
  backdrop-filter: blur(10px); 
  padding: 0.5rem 1rem; 
  border-radius: 8px; 
  background: rgba(255, 255, 255, 0.1); 
}

.navbar .company-name a {
  color: var(--royal-blue);
  text-decoration: none;
  font-size: 1.8rem; 
  font-weight: 700; 
  transition: color 0.3s ease, transform 0.3s ease; 
}

.navbar .company-name a:hover {
  color: #2c3e50; 
  transform: scale(1.05); 
}

/* -----------Stock------------------------- */
.stock-ticker {
    font-size: 15px;
    padding-block: 8px;
    border-block: 1px solid;
    overflow: hidden;
    user-select: none;
    z-index: 5;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
  }
  
  .stock-ticker ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
  
    animation: scroll 20s linear infinite;
  }
  
  .stock-ticker:hover ul {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  

  
  .stock-ticker .company,
  .stock-ticker .price {
    font-weight: bold;
    
  }
  
  .stock-ticker .price {
    margin-inline: 4px;
  }
  
  .stock-ticker .plus::before {
    content: "↑";
  }
  
  .stock-ticker .minus::before {
    content: "↓";
  }
  
  .stock-ticker .plus .change,
  .stock-ticker .plus::before {
    color: #089981;
  }
  
  .stock-ticker .minus .change,
  .stock-ticker .minus::before {
    color: #f23645;
  }
  
  /* ---------Animated Card------------- */
  .animated_card a {
    z-index: 5;
    font: 100 0.6em 'Times', sans-serif;
    color: rgb(255, 248, 248);
    text-align: center;
    text-decoration: none; 
}

.animated_card {
    display: grid;
    place-items: center;
    position: relative;
    height: 200px;
    width: 350px;
    margin: 2vw;
    background: linear-gradient(135deg, #333, #111); 
    border-radius: 20px; 
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease; 
    z-index: 5;
}

.animated_card:hover {
    transform: scale(1.05); 
}

.animated_card::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.2); 
    transform: rotate(45deg);
    top: -50%;
    left: -50%;
}

.animated_card:hover::before {
    animation: animate2 3.5s linear infinite;
}

@keyframes animate2 {
    from { 
        transform: rotate(0deg); 
        top: -50%;
        left: -50%;
    }
    to { 
        transform: rotate(360deg);
        top: -50%;
        left: -50%;
    }
}

.animated_card::after {
    position: absolute;
    content: ''; 
    inset: 5px; 
    background: #222; 
    border-radius: 18px; 
    z-index: -1; 
}

.animated_card_content {
    z-index: 10; 
}






.wrapper {
  box-sizing: border-box;
  font-size: 3vw;
  overflow-x: hidden;
  width: 100vw;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  background-color: var(--cyan);
}

.card {
  width: 20rem;
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.242), -5px -5px 10px rgba(0, 0, 0, 0.256);
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.7s linear;
}

.card .image-box {
  width: 100%;
  height: 20rem;
  transform: translateY(0%);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.7s linear;
  box-shadow: 0;
}

.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card .card-content {
  text-transform: uppercase;
  text-align: center;
  max-height: 0;
  transition: all 0.7s linear;
  overflow: hidden;
}

.card .card-content h2 {
  color: #222f3e;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.card .card-content p {
  color: black;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
}

.card:hover > .card-content {
  max-height: 15rem;
}

.card:hover > .image-box {
  transform: translateY(-8%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.242), -5px -5px 10px rgba(0, 0, 0, 0.256);
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 70%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 55%;
  }
}


.layout-container {

  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
}

.card-container, .card-item {
  z-index: 5;
  display: grid;
  gap: 2rem;
}

.card-container {
  padding-block: 4.5rem;
}

.card-item {
  --hue-1: 210;
  --hue-2: 238;
  position: relative;
  justify-items: center;
  color: var(--white-color);
  text-align: center;
  padding: 4rem 2rem 3rem;
  border: 4px solid transparent;
  background: linear-gradient(var(--container-color), var(--container-color)) padding-box, linear-gradient(135deg, hsl(var(--hue-1), 85%, 70%) 0%, var(--container-color), var(--container-color), hsl(var(--hue-2), 70%, 55%) 100%) border-box;
  border-radius: 1.25rem;
  overflow: hidden;
}

.shape-primary {
  position: relative;
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 75%, 25%) 3%, hsl(var(--hue-2), 65%, 45%) 100%);
  border-radius: 2rem;
  z-index: 2;
}

.shape-secondary {
  width: 116px;
  height: 116px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 1.5rem;
}

.shape-tertiary {
  width: 76px;
  height: 76px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 85%, 60%) 3%, hsl(var(--hue-2), 85%, 60%) 100%);
  border-radius: 1rem;
  display: grid;
  place-items: center;
}

.shape-secondary, .shape-tertiary {
  position: absolute;
  inset: 0;
  margin: auto;
}

.icon {
  font-size: 3rem;
}

.card-content {
  z-index: 5;
}

.card-title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  font-weight: 600;
}

.card-description {
  margin-bottom: 1.5rem;
}

.card-button {
  display: inline-block;
  background-color: var(--white-color);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--black-color);
  font-weight: 500;
}

.card-theme-orange {
  --hue-1: 300;
  --hue-2: 30;
}

.card-theme-green {
  --hue-1: 180;
  --hue-2: 50;
}

.scale-primary {
  width: 148px;
  height: 148px;
  background: linear-gradient(140deg, hsl(var(--hue-1), 70%, 50%) 3%, hsl(var(--hue-2), 95%, 45%) 100%);
  border-radius: 2rem;
  top: 4rem;
}

.scale-secondary {
  width: 116px;
  height: 116px;
  background: var(--container-color);
  border-radius: 1.5rem;
  top: 5rem;
}

.scale-primary, .scale-secondary {
  position: absolute;
  filter: blur(24px);
  transition: transform 0.3s ease-in;
}

.card-item:hover .scale-primary {
  transform: scale(6);
}

.card-item:hover .scale-secondary {
  transform: scale(6);
  transition-delay: 0.1s;
}

@media screen and (max-width: 320px) {
  .layout-container {
    margin-inline: 1rem;
  }
  .card-item {
    padding: 2rem 1rem;
  }
  .scale-primary {
    top: 2rem;
  }
  .scale-secondary {
    top: 3rem;
  }
}

@media screen and (min-width: 576px) {
  .card-container {
    grid-template-columns: 328px;
  }
}

@media screen and (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 328px);
  }
}

@media screen and (min-width: 1120px) {
  .layout-container {
    height: 100vh;
  }
  .card-container {
    grid-template-columns: repeat(3, 345px);
  }
  .card-item {
    padding: 4.5rem 2rem 3.5rem;
  }
}

/* Footer animations */
#footer {
  opacity: 0;
  animation: fadeInFooter 1s ease forwards;
}

@keyframes fadeInFooter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#footer-bottom {
  opacity: 0;
  animation: slideInFooter 1s ease forwards;
  animation-delay: 0.5s; /* Delay the animation */
}

@keyframes slideInFooter {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* footer */
footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #f4f4f4;
  padding: 60px 10%;
}

ul{
  list-style: none;
}

.footer-col{
  width: 25%;
  

}

.footer-col h4{
  position: relative;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 22px;
  color: #f1bc0d;
  text-transform: capitalize;
  bottom:0;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #27c0ac;
  height: 2px;
  width: 40px;
}

ul li:not(:last-child){
  margin-bottom: 8px;
}

ul li i{
  margin-right: 8px;
  font-size: 18px;
  
}

ul li a:hover{
  color: white;
  padding-left: 2px;
}

.links a{
  display: inline-block;
  height: 50px;
  width: 50px;
 
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
  z-index: 99;
}

.links a:hover{
  color: #4d4f55;
  background-color: white;
}

@media(max-width: 740px){
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
      text-align: center;
  }

  .footer-col h4::before{
      all: unset;
  }
}

@media(max-width: 555px){
  .footer-col{
      width: 100%;
  }
}


